
.course-page{
  display: flex;
}

.course-side{
  background: rgb(21, 19, 113);
  width: 20%;
  margin-right: 10px;
}

.course-main{
  width: 80%;
}

.course-head{
  background-image: linear-gradient(to right, #ff00B8, #ffc700 );
}

.course-info{
  background: rgb(21, 19, 113);
}

.course-side > div{
  color: white;
  margin: 10px;
  padding: 10px;
}

.course-side > div > div {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
.course-side > div > p {
  padding: 5px 10px;
}
.course-side > div > p > img{
  padding-right: 5px;
  margin-top: 2px;
}

.course-side > h2{
  color: white;
  padding: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 500;
}

.course-head{
  display: flex;
}

.course-head > div:first-of-type{
  width: 25%;
  padding: 50px;
  margin-left: 100px;
}
.course-head > div:nth-of-type(2){
  width: 75%;
  padding: 50px;
  color: rgb(255 255 255);
  font-size: 36px;
  font-weight: 800;
  text-align: center;
}
.course-head > div:nth-of-type(2) > p{
  width: 334px;
  text-align: initial;
}

.course-head > div:nth-of-type(2) > button{
  background: rgb(21, 19, 113);
  height: 30px;
  width: 100px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

/* .course-info{

} */

.course-tags{
  display: flex;
  color: white;
  justify-content: center;
}

.course-tags > div {
  padding: 20px 40px;
  font-size: 25px;
}