.preview {
  background-color: black;
  height: 200px;
  display: flex;
}
.preview > div {
  height: inherit;
  width: 50%;
  background-image: url("/src/images/viktor-forgacs-3PyBkxgTiL0-unsplash.jpg");
  background-position: right;
  background-position: center;
  background-size: cover;
}

.preview > span {
  width: 400px;
  padding: 20px 0 0 50px;
}

.preview > span > h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 700;
  word-break: break-word;
  line-height: 1em;
  letter-spacing: -.04em; 
  padding-top: 10px;
}

.preview > span >button {
  display: block;
  height: 30px;
  width: 150px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
  border-radius: 5px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to bottom right, #ff00B8, #ffc700 );
  margin-top: 10px;
}

.incubator-index{
  background-image: linear-gradient(to right, #ff00B8, #ffc700 );
  height: 100%;
}





.f-desc{
  height: 250px;
  width: 200px;
  background-color: transparent;
  text-align: initial;
  padding: 10px;
  color: white;
  font-family: sans-serif;
  margin-left: 20px;
  margin: 10px;
}

.f-desc > h1 {
  font-size: 35px;
  font-weight: 700;
  padding-top: 40px;
  line-height: 1.1;
}
.f-desc > p {
  font-size: 17px;
}


.featured{
  display: flex;
  text-decoration: none;
  padding: 40px 20px 20px 20px;
  margin: 0 20px;
}

.f-index-container{
  display: flex;
  padding: 20px;
  overflow: auto;
  margin-right: 80px;
}
.f-index-container::-webkit-scrollbar {
  display: none;
}

.f-index-container > a {
  text-decoration: none;
}

.startup-item{
  width: 200px;
  height: 250px;
  padding: 10px;
  text-decoration: none;
  background: white;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
}

.s-btns{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.mid-section{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.mid-section > div{
  width: 300px;
  height: 200px;
  background: grey;
  border-radius: 5px;
  box-shadow: 0px 1px 5px black;
  text-align: center;
  display: flex;
  justify-content: center;
  background-size: cover;
}

.mid-section > div:first-child{
  background-image: url("/src/images/brooke-cagle-g1Kr4Ozfoac-unsplash.jpg");
}

.mid-section > div:nth-child(2){
  background-image: url("/src/images/naassom-azevedo-Q_Sei-TqSlc-unsplash.jpg");
  background-position: bottom;
}

.mid-section > div:nth-child(3){
  background-image: url("/src/images/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg");
}

.mid-section > div > p{
  border: 1px solid rgb(255 255 255);
  padding: 10px;
  border-radius: 5px;
  width: -moz-fit-content;
  display: flex;
  align-items: center;
  margin: auto;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
}





.upcoming{
  display: flex;
  text-decoration: none;
  padding: 40px 20px 20px 20px;
}

.u-desc{
  background-color: transparent;
  text-align: initial;
  padding: 10px;
  color: white;
  font-family: sans-serif;
  margin-left: 20px; 
  width: 200px;
  height: 250px;
  text-decoration: none;
  margin: 10px;
}

.u-desc > h1{
  font-size: 35px;
  font-weight: 700;
  padding-top: 40px;
  line-height: 1.1;
}

.u-desc > p {
  font-size: 17px;
}

.u-index-container{
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
}
.u-index-container > a {
  text-decoration: none;
}